*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    background-color: rgb(121, 112, 101);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 500px 100px;
}

header, nav, article ,footer {
    font-size: 2rem;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(108, 129, 129);
    grid-column-start: 1;
    grid-column-end: 13;
}

nav{
    background-color: rgb(77, 105, 105);
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

article{
    background-color: rgb(167, 209, 209);
    grid-column-start: 1;
    grid-column-end: 9;
}

footer{
    background-color: rgb(93, 139, 139);
    grid-column-start: 1;
    grid-column-end: 13;
}