*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    background-color: rgb(121, 112, 101);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:15vw 70vw 15vw;
    grid-template-areas: 
    "m h h"
    "m c c"
    "m f f";
    grid-gap: 5px 10px;
}

header, nav, article ,footer {
    font-size: 2rem;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(108, 129, 129);
    grid-area: h;
}

nav{
    background-color: rgb(77, 105, 105);
    grid-area: m;
}

article{
    background-color: rgb(167, 209, 209);
    grid-area: c;
}

footer{
    background-color: rgb(93, 139, 139);
    grid-area: f;
}